* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}

body {
  overflow-x: hidden;
}

.nav-bar {
  background-color: #abc4ff;
  display: flex;
  /* position: fixed; */
  align-items: center;
  justify-content: space-evenly;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#acc-pro {
  border-radius: 50%;
  margin: 5px 0px 5px 0px;
  height: 70px;
  width: 70px;
  background-image: url(smaple1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#clock {
  height: 30px;
  width: 150px;
  font-size: 25px;
  text-align: center;
  border: 0.1rem solid black;
  border-radius: 1.6rem;
  color: black;
  background-color: #d7e3fc;
}

#date {
  height: 30px;
  width: 150px;
  font-size: 25px;
  text-align: center;
  border: 0.1rem solid black;
  border-radius: 1.6rem;
  color: black;
  background-color: #d7e3fc;
}

body.light-mode {
  background-color: #d7e3fc;
}

body.dark-mode {
  background-color: #252323;
}

.card-body h5 {
  display: inline-block !important;
  /* margin-left: auto; */
}

.all-task {
  margin: auto;
  width: 100vw;
  height: 90vh;
}

h6 {
  font-size: large;
}

input {
  background-color: #d7e3fc;
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  font-size: large;
  font-weight: 500;
}

#task-des {
  height: 220px;
}

th {
  padding-left: 15px;
  padding-right: 15px;
}


.foot {
  /* position: absolute;
  bottom: 0; */
  /* padding-top: 27px; */
  margin-top: 30px;
  width: 100vw;
  height: 30px;
  text-align: center;
  text-transform: capitalize;
  font-size: larger;
  font-weight: 500;
  color: #6e71d9;
  background-color: transparent;
}

/* Making site responsive */

@media only screen and (max-width: 450px) and (min-width: 350px) {
  .all-task {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  #main-task {
    height: 400px;
    width: 330px;
    margin: 0px;
    margin-top: 20px;
    border-radius: 15px;
  }

  #create-task {
    width: 330px;
    height: 420px;
    margin: 0px;
    margin-top: 20px;
  }

  #clock {
    height: 20px;
    width: 85px;
    font-size: 15px;
    border-radius: 1rem;
  }

  #date {
    height: 20px;
    width: 75px;
    font-size: 15px;
    border-radius: 1rem;
  }

  input {
    width: 300px;
    height: 50px;
    font-size: medium;
    font-weight: 300;
  }

  #task-des {
    height: 140px;
  }

  th {
    padding-left: 8px;
    padding-right: 8px;
  }

  #del-task {
    height: 30px;
    width: 50px;
    font-size: 12px;
  }

  .foot {
    padding-top: 27px;
    margin-top: 30px;
    height: 30px;
    text-align: center;
    text-transform: capitalize;
    font-size: medium;
    font-weight: 400;
    color: #6e71d9;
    background-color: transparent;
  }

  #acc-pro {
    height: 50px;
    width: 50px;
  }
}